# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Documents
*.md text diff=markdown
*.txt text
*.json text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Scripts
*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.html text

# Configuration files
.gitignore text
.gitattributes text
.eslintrc text
.prettierrc text
*.toml text
*.yaml text
*.yml text
*.lock text -diff
package-lock.json text -diff
